/* Reset CSS (JANGAN DIHAPUS) */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lucida Grande";
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.bungkus-atas{
  background-image:url("https://prog-8.com/images/html/advanced/top_en.png");
  background-size:cover;
}

.bungkus{
  width:1170px;
  margin:0 auto;
}

.isi-atas{
  padding-top:180px;
  padding-bottom:100px;
  text-align:center;
  color:white;
}

.isi-atas h1{
  padding-bottom:10px;
  font-size:45px;
  letter-spacing:5px;
  opacity:0.7;
}

.isi-atas p{
  line-height:19px;
  margin-bottom:20px;
  opacity:0.7;
}

.daftar p{
  line-height:default;
  margin:10px 0px 10px 0px;
  opacity:0.7;
}

.daftar a{
  color:white;
  display:inline-block;
}

.bungkus-tombol{
  padding:12px 24px 12px 24px;
  opacity:0.8;
  border-radius:5px;
}

.email{
  background-color:#239b76;
}

.fb{
  background-color:#3b5998;
}

.twitter{
  background-color:#55acee;
  margin-left:10px;
  margin-bottom:20px;
}

.fa{
  margin-right:5px;
}

.heading{
  height:65px;
  position:fixed;
  background-color:rgba(34,49,52,0.9);
  width:100%;
  z-index:10;
}

.judul-kiri {
  float:left;
}

.judul-kiri img{
  width:124px;
  margin-top:20px;
}

.judul-kanan{
  float:right;
  height:65px;
  line-height:65px;
  padding-left:25px;
  padding-right:25px;
  background-color:rgba(255,255,255,0.3);
}

.judul-kanan a{
  color:white;
  display:inline-block;
}

.pelajaran{
  height:580px;
  background-color:#f7f7f7;
}

.judul-pelajaran{
  padding-top:60px;
  padding-bottom:30px;
}

.judul-pelajaran h2{
  font-weight:normal;
  text-align:center;
  color:#5f5d60;
}

.pelajaran{
  margin:0 auto;
}

.pilihan-pelajaran{
  width:25%;
  float:left;
}

.bungkus-pilihan{
  width:80%;
  text-align:center;
  margin:0 auto;
}

.gambar-pelajaran{
  position:relative;
  margin-bottom:20px;
}

.gambar-pelajaran p{
  position:absolute;
  top:90px;
  width:100%;
  color:white;
}

.deskripsi{
  font-size:15px;
  color:#b3aeb5;
}

.bungkus2{
  background:white;
}

.undangan{
  text-align:center;
}

.undangan h2{
  font-weight:normal;
  color:#5f5d60;
  padding-top:60px;
}

.undangan h3{
  font-weight:normal;
  color:#5f5d60;
}

.tombol-undangan{
  margin-top:30px;
  margin-bottom:80px;
  padding:15px 40px 15px 40px;
  background-color:#5dca88;
  opacity:0.8;
  display:inline-block;
  color:white;
  box-shadow:0 7px #1a7940;
}

.tombol-undangan:hover{
  opacity:1;
}

.bawah{
  border-top:1px solid #eee;
}

footer{
  color:#b3aeb5;
}

footer img{
  padding-top:30px;
  width:124px;
}

footer p{
  font-size:12px;
}